.tagsTale{
  width: 100%;
  padding: 5px 2px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint-up(large){
    padding: 30px 30px;
  }
  #searchTags::-webkit-scrollbar{
    display: none;
  }
  #searchTags{
    width: 100%;
    padding: 5px 0px;
    white-space: nowrap;
    scrollbar-width: none;
    overflow-x: scroll;
    grid-template-columns:repeat(2, 1fr);
    align-items: left;
    margin: 10px 100px;
    @include breakpoint-up(medium){
      grid-template-columns:repeat(3, 1fr);
    }

    @include breakpoint-up(large){
      grid-template-columns: repeat(5,1fr);
    }
    button:not(#pledge){ 
      width: max-content;
      font-size: 0.725rem;
      text-align: center;
      margin: 0px 5px;
      background: #d5d5d5;
      color:$darkBlue;
      @include breakpoint-up(large){
        font-size: 0.825rem;
        margin: 0px 10px;
      }
    }
    }

    button:not(#pledge):active{
      font-size: 1rem;
    }

    button:not(#pledge):hover{
      transition: border 300ms ease-in-out;
    }

  &__tagnames{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}